* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #d6cccf;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #c6b8b8;
    color: #000000;
    padding: 15px 50px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo{
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a{
    color: #837373;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3 ease, 
    border-bottom 0.3s ease;
}


.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 60px 20px;
    background-color: #999482;
}

.hero-img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #3fd5e8;
    margin-bottom: 20px;
}


.hero-text h1{
   font-size: 2em;
   color: #000000;
   margin-bottom: 10px;
}

.hero-text p{
    font-size: 1.1em;
    color: #050404;
    max-width: 500px;
}


.nav-links a:hover{
    color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(0, 0, 0);
    padding-bottom: 2px;
}

.menu-toggle{
    display: none;
}

.menu-icon{
    display: none;
    cursor: pointer;
    font-size: 28px;
}




.projects{
    background-color: #b0b523;
    padding: 70px 20px;
    text-align: center;
}

.projects h2{
    font-size: 2em;
    margin-bottom: 40px;
    color: #000000;
    position: relative;
    text-decoration: underline;
}

.project-contanier{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-card{
  background: #b69f9f;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  cursor: pointer;
  margin: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.project-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.734);
}

.project-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-card h3{
    padding: 15px;
    font-size: 1.3em;
    color: #333;
    background: #fff;
    font-weight: 600;
}







@media(max-width: 767px){

    .menu-icon{
        display: block;
    }



.nav-links{
   position: absolute;
   top: 60px;
   left: 0;
   width: 100%;
   background: #000000;
   flex-direction: column;
   align-items: center;
   gap: 20px;
   padding: 20, 0;
   display: none;

}

.menu-toggle:checked + .menu-icon + .nav-links{
    display: flex;
    animation: slideDown 0.3s ease;
}

@keyframes slideDown {
    from {opacity: 0; transform: translateY(-10px);}
    to {opacity: 1; transform: translateY(0);}
    
}

}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 60px 20px;
    background-color: #766d70;
}

.hero-text h1{
   font-size: 2em;
   color: #000000;
   margin-bottom: 10px;
   justify-content: center;
}

.hero-text h2{
   font-size: 1em;
   color: #000000;
   margin-bottom: 10px;
   justify-content: center;
}

.hero-text p{
    font-size: 1.1em;
    color: #ffffff;
    max-width: 500px;
    justify-content: center;
}

.contact{
    padding: 60px 20px;
    background-color:#d3bfcd;
    padding: 80px 20px;
    text-align: center;
}

.contact h2{
    font-size: 2em;
    color: #000000;
    margin-bottom: 40px;
}



.contat-form{
    max-width: 600px;
    margin: 0 auto;
    background: #fffffe;
    border-radius: 12px;
    box-shadow: 0  5px 100px rgba(0, 0, 0, 0.1);
    display: block;
}

.input-group{
    margin-bottom: 20px;
    text-align: left;
}

.cta, .add-btn {
    background: var(--black);
    color: var(--white);
    padding: 12px 25px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

.add-btn:hover {
    background: var(--accent);
}
